NEXT_PUBLIC_WP_URL=https://wp.screwnet.in
NEXT_PUBLIC_SITE_URL=https://screwnet.in
NEXT_PUBLIC_WHATSAPP_NUMBER=918107753647
NEXT_PUBLIC_SUPPORT_PHONE=+918107753647
NEXT_PUBLIC_SUPPORT_PHONE_DISPLAY=+91 81077 53647
NEXT_PUBLIC_STORE_ADDRESS=2, Paneri Belda Road, Udaipur, Rajasthan, India
NEXT_PUBLIC_WORKING_HOURS=9:00 AM - 5:30 PM
NEXT_PUBLIC_REVALIDATE_SECONDS=60
HOSTINGER_API_TOKEN=your-hostinger-api-token
WOOCOMMERCE_SITE_URL=https://wp.screwnet.in
WOOCOMMERCE_CONSUMER_KEY=your-consumer-key
WOOCOMMERCE_CONSUMER_SECRET=your-consumer-secret
WOOCOMMERCE_API_VERSION=wc/v3
WP_APPLICATION_USERNAME=wordpress-application-username
WP_APPLICATION_PASSWORD=wordpress-application-password
WP_AUTH_HEADER=Basic base64-encoded-username-password
